#header
{
    width: 100%;
}
#image
{
    background-color: aquamarine;
    border-width: 10px;
    border-color: rgb(0, 187, 255);
    border-style: double;
    width: 500px;
    height: 250px;
}
#bg
{
    background-color: aliceblue;
}
#footer
{
    bottom: 0;
    position: fixed;
    background-color: rgb(235, 207, 137);
    color: rgb(112, 82, 6);
    width: 100%;
}